---
layout: archive
title: "IRTH Islamic Inheritance Calculator"
permalink: /teaching/
author_profile: true
---
<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<p><a href="https://jaffer.ir/?smd_process_download=1&amp;download_id=267">Download the IRTH Islamic Inheritance Calculator for PC</a></p>
<p>(Note: Please read the instructions included first).</p>
<p>This software is &#8216;shariahware&#8217; (a new term we coined to refer to any software based on Islamic legal rulings which was made solely for the purpose of pleasing Allah and assisting believers with a matter pertaining to the Shari&#8217;ah). Please feel free to download, upload, share, distribute, etc.</p>
<p>* In case of problems while downloading, refer to this <a href="https://drive.google.com/uc?id=17A_pSfwH8H6PfHn1upkGC_sxbMIPzEdm&export=download">mirror link</a> to download the file.</p>